
@font-face {
    font-family: "Neue Montreal";
    src: url(../fonts/PPNeueMontreal-Thin.woff2) format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: "Neue Montreal";
    src: url(../fonts/PPNeueMontreal-Book.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: "Neue Montreal";
    src: url(../fonts/PPNeueMontreal-Regular.woff2) format('woff2');
    font-weight: 450;
}




@font-face {
    font-family: "Pretendard";
    src: url(../fonts/Pretendard-Light.woff2) format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: "Pretendard";
    src: url(../fonts/Pretendard-Regular.woff2) format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: "Pretendard";
    src: url(../fonts/Pretendard-Medium.woff2) format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: "Pretendard";
    src: url(../fonts/Pretendard-SemiBold.woff2) format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: "Pretendard";
    src: url(../fonts/Pretendard-Bold.woff2) format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: "Bookk";
    src: url(../fonts/Bookk_regular.ttf) format('ttf');
    font-weight: 400;
}
@font-face {
    font-family: "Bookk";
    src: url(../fonts/Bookk_bold.ttf) format('ttf');
    font-weight: 700;
}




